fondo = #e8e8e8
gris_oscuro = #444
azul = #22bce0

body
	background gris
	color gris_oscuro
	font-family Arial
	font-size 16px

header
	background gris_oscuro
	color white
	padding 0.5em
	position relative
	

	.logo
		border-right 1px solid azul
		width 60px
		float left

		img 
			width 52px

	.titular
		margin 0 60px 0 70px

		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0

	.usuario
		position absolute
		right 10px
		top 10px

		.avatar
			margin 0 1.1em 0 0
			position relative
			z-index 2

			img
				width 50px
				border-radius 50%
		
		

.menu
	background azul	

	




